@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Light.eot');
    src: local('TRY Clother Light'), local('TRYClother-Light'),
        url('TRYClother-Light.eot?#iefix') format('embedded-opentype'),
        url('TRYClother-Light.woff2') format('woff2'),
        url('TRYClother-Light.woff') format('woff'),
        url('TRYClother-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Regular.eot');
    src: local('TRY Clother'), local('TRYClother-Regular'),
        url('TRYClother-Regular.eot?#iefix') format('embedded-opentype'),
        url('TRYClother-Regular.woff2') format('woff2'),
        url('TRYClother-Regular.woff') format('woff'),
        url('TRYClother-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Bold.eot');
    src: local('TRY Clother Bold'), local('TRYClother-Bold'),
        url('TRYClother-Bold.eot?#iefix') format('embedded-opentype'),
        url('TRYClother-Bold.woff2') format('woff2'),
        url('TRYClother-Bold.woff') format('woff'),
        url('TRYClother-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Black.eot');
    src: local('TRY Clother Black'), local('TRYClother-Black'),
        url('TRYClother-Black.eot?#iefix') format('embedded-opentype'),
        url('TRYClother-Black.woff2') format('woff2'),
        url('TRYClother-Black.woff') format('woff'),
        url('TRYClother-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

